
body{
    font-size:32PX;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    COLOR:BLUE;
    background-color: aquamarine;
}
A{
    color: black;
}
a:hover{
    color: brown;

}